@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        @apply text-lg mt-0 mr-5 mb-0 ml-5 hover:underline;
    }
    .searchbar-item {
        @apply border-2 bg-neutral-200 dark:bg-neutral-900 border-neutral-200 dark:border-neutral-900;
    }

    .toggle-button {
        @apply w-12 aria-pressed:bg-transparent;
    }
}
